@model ApplebiteMobiles_App.Models.tblMobileDetail

@{
    ViewBag.Title = "CreateMDetail_Master";
    Layout = "~/Views/Shared/_admn.cshtml";
}
<div id="contact" class="contact" style="padding-top:60px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>M<strong class="black">obile</strong></h2>
                    <p>
                        @Html.ActionLink("Create New", "CreateMDetail_Master")
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 padding">
            <script src="~/Scripts/jquery-1.7.1.min.js"></script>
            <script type="text/javascript">
                   function show(input) {
                      if (input.files && input.files[0]) {
                      var filerdr = new FileReader();
                      filerdr.onload = function (e) {
                         $('#user_img').attr('src', e.target.result);
                      }
                      filerdr.readAsDataURL(input.files[0]);
                   }
                }
            </script>
            @*@using (Html.BeginForm())*@
            @using (Html.BeginForm("CreateMDetail_Master", "Admn", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="control-label col-md-2">Mobile</div>
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.MobileID, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MobileID, "", new { @class = "text-danger" })*@

                            @Html.DropDownList("MobileID", "--Select--")
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.M_DName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.M_DName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.M_DName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.M_Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.M_Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.M_Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*<div class="form-group">
                        @Html.LabelFor(model => model.A_DImage, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                        @Html.EditorFor(model => model.A_DImage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.A_DImage, "", new { @class = "text-danger" })
                        </div>
                        </div>*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.M_DImage, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div>
                                <img id="user_img" height="100" width="90" style="border:solid" />
                            </div>
                            <div>
                                <input type="file" title="search image" id="file" name="file" onchange="show(this)" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
            <div>
                @Html.ActionLink("Back to List", "MobileDetail")
            </div>
        </div>
    </div>
</div>